body {
  background-color: darkgray;
}


.board {
  margin: 0 auto;
  width: 100%
}

.container  {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage {
  min-height: 300px;
  width: 90%;
  display: flex;
  justify-content: center;
}


.userForm {
  width: 90%;
  min-height: 50px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#textbox {
  min-width: 50%;
}

.cardsContainer1 {
  min-height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.cardsContainer2{
  min-height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.slots {
  max-height: 250px;
  min-width: 25%;
  background-color: white;
  /* border: 1px black solid; */
  border-radius: 10px
}


.card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.hold {
  border: solid gray 4px;
}

.hovered {
  background: yellow;
  border: 2px crimson solid;
}

.stageHovered {
  background: darkblue;
  border: 2px crimson solid;
}

.invisible {
  display: none;
}

.deleteButton {
  height: 10%;
  width: 20%;
  background-color: dodgerblue;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid royalblue;
  border-radius: 100px;
}

.deleteButton:hover {
  background-color: darkred;
}
