body {
  /* background-color: darkgray; */
}


/* //////////////////////////////////////////////////// */


body {
  position: absolute;
  /* top: calc(50% - 65px);
  left: calc(50% - 455px); */
  background: radial-gradient(#222, #0ff);
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
}

.stageGlow {
  border-radius: 10%;
  background-color: #000;
  box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #0ff;
  transition: box-shadow 1s ease-out;
}


/* //////////////////////////////////////////////////// */


.board {
  margin: 0 auto;
  width: 100%
}

.container  {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage {
  min-height: 300px;
  width: 90%;
  display: flex;
  justify-content: center;
}


.userForm {
  width: 90%;
  min-height: 50px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#textbox {
  min-width: 50%;
}

.cardsContainer1 {
  margin: 0 auto;
  min-height: 300px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* .cardsContainer2{
  min-height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-between;
} */

.slots {
  margin: 20px;
  min-height: 230px;
  min-width: 25%;
  background-color: transparent;
  /* border: 1px black solid; */
  border-radius: 10px;
}


.card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.hold {
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 140px 90px #0ff;
}

.hovered {
  background: gold;
  border: 2px crimson solid;
  box-sizing: border-box;
}

.stageHovered {
  background: darkblue;
  border: 2px crimson solid;
}

.invisible {
  display: none;
}

.deleteButton {
  height: 10%;
  width: 20%;
  background-color: dodgerblue;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid royalblue;
  border-radius: 100px;
}

.dragMe {
  height: 20px;
  width: 20px;
  color: white;
  background-image: url('../img/arrow.png');
  background-position: center;
  background-size: contain;
  transform: translate(-180px);
}

.deleteButton:hover {
  background-color: darkred;
}

.glow:hover {
  box-shadow: 0px 0px 40px 20px gold;
}
