.darkmode {
  background-color: #161633;
  color: white;
}

.container-fluid {
  padding: 0;
}

header {
  /* height: 400px; */
}

header h1 {
  padding: 10%;
  padding-top: 30%;
  padding-bottom: 0;
}



/* .block {
  height: 40%;
  width: 100%;
} */

.sticky-top {
  background: white;
}

.sticky-top h4 {
  background: white;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 0;
}

/* .sticky-top input, .sticky-top label {
  padding: 10%;
} */

/* .custom-switch {
  padding-left: 90%;
} */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  padding-left: 85%;

}


.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #026;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 19px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 19px;
}

input:checked + .slider {
  background-color: gray;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}


/* testing  */


nav {
  border-radius: 0 0 20px 20px;
  margin: 10px 0;
}

article {
  padding: 10%;
}
